body{
	background: #46008c;
}
.banner{
	width: 100%;
	min-width: 1100px;
	height: 506px;
	background: url(../img/608f6fd4-a25b-478a-861b-3d39176ca904T18122001031_1920_506.jpg) no-repeat;
	background-position: center;
	background-size: auto 506px;
}
h2{
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	text-align: center;
	font-weight: 400;
	margin: 10px 0;
	color: #fff;
	background: #ff2351;
}
.blue{
	background: #2f85eb;
}
.gift{
	background: #ffe3e8;
}
.bao{
	background: #bbd3ff;
}
.hot{
	padding: 0 2px;
	justify-content: space-around;
}
.hot1{
	width: 194px;
	height: 278px;
	font-size: 12px;
	background: #fff url(../img/ba19ceb6-bc50-48ce-86ef-872cc728dc50.jpg) no-repeat;
	background-size: 194px;
	margin-bottom: 6px;
	border: 1px solid #f0f0f0;
}
.hot1:hover{
	border: 1px solid #e31436;
}
.hot1 p:nth-child(1){
	width: 24px;
	height: 20px;
	padding: 0 3px;
	background: #ff8385;
	color: #fff;
	line-height: 20px;
}
.hot1 p:nth-child(2){
	height: 15px;
	width: 95px;
	padding: 0 2px;
	border:1px solid #e31436;
	color: #e31436;
	border-radius: 3px;
	line-height: 15px;
	margin: 155px 0 5px 10px;
}
.hot1 p:nth-child(3){
	color: #000;
	font-weight: 600;
	font-size: 14px;
}
.hot1 p:nth-child(4){
	color: #a6a6a6;
	margin: 5px;
}
.hot1 .money{
	margin-left: 8px;
	color: #e31436;
}
.hot1 .money b{
	font-size: 22px;
}
.hot1 .money img{
	margin-left: 85px;
	width: 27px;
}
.hot1 .money del{
	color: #a6a6a6;
}