body{
	background: #f6f6f6;
}
.banner{
	width: 100%;
	min-width: 1100px;
	height: 400px;
	background: url(https://haitao.nos.netease.com/ygt5s2Fi087zBPtC1c3srmn5n3_1920_400T1809261801_1920_400.jpg?imageView&thumbnail=2400x0&quality=95&type=webp) no-repeat;
	background-position: center;
	background-size: auto 400px;
}
h2{
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	text-align: center;
	font-weight: 400;
	margin: 10px 0;
}
.famous{
	/*background: #f0f0f0;*/
}
.famous .lan{
	width: 244px;
	height: 348px;
	background: #fff url(https://haitao.nosdn1.127.net/iv99pmby61_400_400.jpg?imageView&thumbnail=305x305&quality=95&type=webp) no-repeat;
	background-size: 244px;
	text-align: center;
	margin-bottom: 8px;
}
.famous .lan img{
	width: 82px;
	border: 1px solid #f0f0f0;
	border-radius: 50%;
	margin-top: 200px;
}
.famous .lan p{
	font-size: 12px;
	color: #e31436;
	font-weight: 400;	
}
.famous .lan .lan_p{
	color: #000;
	font-weight: 600;
	margin: 2px 0;
}
.hot1{
	width: 194px;
	height: 278px;
	font-size: 12px;
	background: #fff url(../img/794f0d5a23ce49d09ec39fa632c547641524795679005jghbz7ju10199.jpg) no-repeat;
	background-size: 194px;
	margin-bottom: 10px;
	border: 1px solid #000;
}
.hot1:hover{
	border: 1px solid #e31436;
}
.hot1 p:nth-child(1){
	width: 24px;
	height: 20px;
	padding: 0 3px;
	background: #ff8385;
	color: #fff;
	line-height: 20px;
}
.hot1 p:nth-child(2){
	height: 15px;
	width: 95px;
	padding: 0 2px;
	border:1px solid #e31436;
	color: #e31436;
	border-radius: 3px;
	line-height: 15px;
	margin: 155px 0 5px 10px;
}
.hot1 p:nth-child(3){
	color: #000;
	font-weight: 600;
	font-size: 14px;
}
.hot1 p:nth-child(4){
	color: #a6a6a6;
	margin: 5px;
}
.hot1 .money{
	margin-left: 8px;
	color: #e31436;
}
.hot1 .money b{
	font-size: 22px;
}
.hot1 .money img{
	margin-left: 85px;
	width: 27px;
}
.hot1 .money del{
	color: #a6a6a6;
}